# SwiftFormat configuration (https://github.com/nicklockwood/SwiftFormat)
--swiftversion 5.9
--exclude .build,dist

--indent 4
--maxwidth 120
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--closingparen balanced
--commas inline
--semicolons never
--trimwhitespace always
--stripunusedargs closure-only
--self remove
--header strip
--ifdef no-indent
--extensionacl on-declarations
--emptybraces spaced
--ranges no-space

--enable isEmpty
--enable wrapEnumCases
--enable blockComments
--enable markTypes
--disable redundantReturn
--disable andOperator
